@import "https://cdn.media-soft.cloud/original/assets/IssuePage1/Styles/baseresset.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage1/Styles/Header/header.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage1/Styles/body/body.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage1/Styles/cta/cta.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage1/Styles/Footer/footer.css";