@import "https://cdn.media-soft.cloud/original/assets/IssuePage2/Styles/baseresset.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage2/Styles/header/header.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage2/Styles/body/body.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage2/Styles/cta/cta.css";
@import "https://cdn.media-soft.cloud/original/assets/IssuePage2/Styles/Footer/footer.css";